# Nested loop

In [1]:
i=1
while i<=3:
    print()
    j=1
    while j<=3:
        print(j,end=" ")
        j=j+1
    print()
    i=i+1

1 2 3

1 2 3

1 2 3

In [3]:
i=1
while i<=2:
    print()
    j=1
    while j<=3:
        print(j,end=" ")
        j=j+1
    print()
    i=i+1

1 2 3

1 2 3

In [4]:
i=1
while i<=5:
    print()
    j=1
    while j<=3:
        print(j,end=" ")
        j=j+1
    print()
    i=i+1

1 2 3

1 2 3

1 2 3

1 2 3

1 2 3

In [5]:
i=1
while i<=2:
    print()
    j=1
    while j<=2:
        print(j,end=" ")
        j=j+1
    print()
    i=i+1

1 2

1 2

In [7]:
i=1
while i<=3:
    print()
    j=1
    while j<=4:
        print(j,end=" ")
        j=j+1
    print()
    i=i+1

1 2 3 4

1 2 3 4

1 2 3 4

In [8]:
i=1
while i<=10:
    print()
    j=1
    while j<=4:
        print(j*i,end=" ")
        j=j+1
    print()
    i=i+1

1 2 3 4

2 4 6 8

3 6 9 12

4 8 12 16

5 10 15 20

6 12 18 24

7 14 21 28

8 16 24 32

9 18 27 36

10 20 30 40

In [10]:
n=int(input("digit for loop:"))

i=1
while i<=n:
    print()
    j=1
    while j<=10:
        print(j*i,end=" ")
        j=j+1
    print()
    i=i+1

digit for loop:10

1 2 3 4 5 6 7 8 9 10

2 4 6 8 10 12 14 16 18 20

3 6 9 12 15 18 21 24 27 30

4 8 12 16 20 24 28 32 36 40

5 10 15 20 25 30 35 40 45 50

6 12 18 24 30 36 42 48 54 60

7 14 21 28 35 42 49 56 63 70

8 16 24 32 40 48 56 64 72 80

9 18 27 36 45 54 63 72 81 90

10 20 30 40 50 60 70 80 90 100

In [12]:
n=int(input("digit for loop:"))
x=int(input("digit for range:"))

i=1
while i<=n:
    print()
    j=1
    while j<=x:
        print(j*i,end=" ")
        j=j+1
    print()
    i=i+1

digit for loop:10
digit for range:10

1 2 3 4 5 6 7 8 9 10

2 4 6 8 10 12 14 16 18 20

3 6 9 12 15 18 21 24 27 30

4 8 12 16 20 24 28 32 36 40

5 10 15 20 25 30 35 40 45 50

6 12 18 24 30 36 42 48 54 60

7 14 21 28 35 42 49 56 63 70

8 16 24 32 40 48 56 64 72 80

9 18 27 36 45 54 63 72 81 90

10 20 30 40 50 60 70 80 90 100

In [13]:
n=int(input("digit for loop:"))
x=int(input("digit for range:"))

i=1
while i<=n:
    print()
    j=1
    while j<=x:
        print(j*i,end="\t ")
        j=j+1
    print()
    i=i+1

digit for loop:10
digit for range:10

1	 2	 3	 4	 5	 6	 7	 8	 9	 10

2	 4	 6	 8	 10	 12	 14	 16	 18	 20

3	 6	 9	 12	 15	 18	 21	 24	 27	 30

4	 8	 12	 16	 20	 24	 28	 32	 36	 40

5	 10	 15	 20	 25	 30	 35	 40	 45	 50

6	 12	 18	 24	 30	 36	 42	 48	 54	 60

7	 14	 21	 28	 35	 42	 49	 56	 63	 70

8	 16	 24	 32	 40	 48	 56	 64	 72	 80

9	 18	 27	 36	 45	 54	 63	 72	 81	 90

10	 20	 30	 40	 50	 60	 70	 80	 90	 100

In [21]:
#print the series of prime number between 1 to 100

i=1

while i<=100:
    
    j=2
    while j<=i:
        if i%j==0:
            break
        j=j+1
    if j==i:
        print(i,end=" ")
    
    
    
    i=i+1

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [24]:
i = 1

while i <= 100:
    num_str = str(i)
    
    if num_str == num_str[::-1]:
        print(i, end="\t ")
    
    i = i + 1

1	 2	 3	 4	 5	 6	 7	 8	 9	 11	 22	 33	 44	 55	 66	 77	 88	 99

In [26]:
i=1
while i<=5:
    
    j=1
    while j<=i:
        print(j,end=" ")
        j=j+1
    print()
    i=i+1

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [29]:
i=1
while i<=5:
    
    j=1
    while j<=i:
        print("*",end=" ")
        j=j+1
    print()
    i=i+1

*
* *
* * *
* * * *
* * * * *

In [34]:
i=1
while i<=5:
    
    j=1
    while j<=i:
        print("*",end=" ")
        j=j+1
    print()
    i=i+1

*
* *
* * *
* * * *
* * * * *

In [36]:
n = 5  # Number of rows

for i in range(n, 0, -1):
    print("*" * i)

*****
****
***
**
*

In [37]:
i = 5  
while i >= 1:
    j = 1
    while j <= i:
        print("*", end=" ")
        j = j + 1
    print()
    i = i - 1

* * * * *
* * * *
* * *
* *
*

In [3]:
i = 5 
while i >= 1:
    j = 1
    while j <= i:
        print(j, end=" ")
        j = j+ 1
    print()
    i = i - 1
i=1
while i<=5:
    
    j=1
    while j<=i:
        print(j,end=" ")
        j=j+1
    print()
    i=i+1

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [4]:
k=64
i=1
while i<=5:
    j=1
    while j<=i:
        print(chr(j+k),end=" ")
        j=j+1
    print()
    i=i+1

A
A B
A B C
A B C D
A B C D E

In [7]:
k=64
i=5
while i>=1:
    j=1
    while j<=i:
        print(chr(j+k),end=" ")
        j=j+1
    print()
    i=i-1

A B C D E
A B C D
A B C
A B
A

In [8]:
k=64
i=5
while i>=1:
    j=1
    while j<=i:
        print(chr(j+k),end=" ")
        j=j+1
    print()
    i=i-1
k=64
i=1
while i<=5:
    j=1
    while j<=i:
        print(chr(j+k),end=" ")
        j=j+1
    print()
    i=i+1

A B C D E
A B C D
A B C
A B
A
A
A B
A B C
A B C D
A B C D E