In [3]:
print("\n\t\t\tEmployee Infotmation")
print("\t\t\t\t==================")
print("\t\t\t\tName=\t\tSubh")
print("\t\t\t\tcity=\t\tSubh")
print("\t\t\t\tState=\t\tSubh")

			Employee Infotmation
				==================
				Name=		Subh
				city=		Subh
				State=		Subh

In [10]:
a=34
b=56
print("value of a =",a)
print("value of b =",b)
print("sum=",a+b)
print("sub=",a-b)
print("mul=",a*b)
print("div=",a/b)

#checking var
print(type(a),"",type(b))

value of a = 34
value of b = 56
sum= 90
sub= -22
mul= 1904
div= 0.6071428571428571
<class 'int'>  <class 'int'>

In [15]:
#simple intrest 


am=int("10")
rate=int("44")
time=int("30")
print("The Amount is",am)
print("The rate is",rate)
print("The time is",time)

si=am*rate*time/100
print("The simple intrest is",si)

The Amount is 10
The rate is 44
The time is 30
The simple intrest is 132.0

In [20]:
#area of circle 
#pi =3.14
import math
r=12
area=pi*r*r
print("area of circle is ",area)

area of circle is  452.15999999999997

In [21]:
#area of tringel 
base=10
ht=15
area=1/2*base*ht
print("area of tri is ",area)

area of tri is  75.0

In [29]:
#salary  
name="Rakesh rana"
salary=10000
ta=salary*0.4
da=salary*0.5
hra=salary*35
gro_salary=salary+ta+da+hra
print("\n\t\t\t\tEmployee Information")
print("\t\t\t\t==================")
print("\t\t\t\tName=\t\t",name)
print("\t\t\t\tBasic salary=\t",salary)
print("\t\t\t\tTA=\t\t",ta)
print("\t\t\t\tDA=\t\t",da)
print("\t\t\t\tHra=\t\t",hra)
print("\t\t\t\tGross salary=\t",gro_salary)

				Employee Information
				==================
				Name=		 Rakesh rana
				Basic salary=	 10000
				TA=		 4000.0
				DA=		 5000.0
				Hra=		 350000
				Gross salary=	 369000.0