In [1]:
import pandas as pd
import numpy as np
import seaborn as sns                       #visualisation
import matplotlib.pyplot as plt             #visualisation
%matplotlib inline     
sns.set(color_codes=True)

In [27]:
df = sns.load_dataset('titanic')

In [28]:
df.head(5)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [29]:
df.tail(5)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
886,0,2,male,27.0,0,0,13.00,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.00,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.45,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.00,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.75,Q,Third,man,True,NaN,Queenstown,no,True

In [30]:
df.shape

(891, 15)

# CHECKING DATA TYPES

In [31]:
df.dtypes

survived          int64
pclass            int64
sex              object
age             float64
sibsp             int64
parch             int64
fare            float64
embarked         object
class          category
who              object
adult_male         bool
deck           category
embark_town      object
alive            object
alone              bool
dtype: object

# REMOVING UNWANTED COLUMNS

In [32]:
df = df.drop(['pclass','class','embarked','who','deck','embark_town','alive','alone','fare','deck','sibsp','parch'], axis=1)
df.head(5)

   survived     sex   age  adult_male
0         0    male  22.0        True
1         1  female  38.0       False
2         1  female  26.0       False
3         1  female  35.0       False
4         0    male  35.0        True

# REMOVING DUPLICATE ROWS

In [33]:
duplicate_rows_df = df[df.duplicated()]
print("number of duplicate rows: ", duplicate_rows_df.shape)

number of duplicate rows:  (671, 4)

In [34]:
df.count()

survived      891
sex           891
age           714
adult_male    891
dtype: int64

In [35]:
df = df.drop_duplicates()
df.head(5)

   survived     sex   age  adult_male
0         0    male  22.0        True
1         1  female  38.0       False
2         1  female  26.0       False
3         1  female  35.0       False
4         0    male  35.0        True

In [36]:
df.count()

survived      220
sex           220
age           216
adult_male    220
dtype: int64

In [37]:
print(df.isnull().sum())

survived      0
sex           0
age           4
adult_male    0
dtype: int64

In [38]:
df = df.dropna()

In [39]:
Q1 = df.quantile(0.25)
Q3 = df.quantile(0.75)
IQR = Q3 - Q1
print(IQR)

C:\Users\Acer\AppData\Local\Temp\ipykernel_10212\904187463.py:1: FutureWarning: The default value of numeric_only in DataFrame.quantile is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  Q1 = df.quantile(0.25)

TypeError: numpy boolean subtract, the `-` operator, is not supported, use the bitwise_xor, the `^` operator, or the logical_xor function instead.